<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" prefix="" lang="cs-CZ">
<head>
<meta charset="UTF-8">
</head>

<body>
<div style="width: 100%; height:100px; background-color: red; text-align: right">
<div style="padding-top: 18px; padding-left: 20px; float: left;">
    <img src="{{ org_company_logo }}" />
    <div style="color: white; padding-top: 20px; padding-right: 20px; text-align: left; float: right">
        <p>{{ org_company }}</p>
        <p>{{ org_company_address }}</p>
    </div>
</div>

<p>{{ today }}, {{ event_city }}, {{ event_country }}</p>
Name: {{ invitee_name }}</p>
Passport Number: {{ passport_number }}</p>
Issued by: {{ passport_issued_by }}</p>
Expiration date: {{ passport_expiration }}</p>
Citizenship: {{ invitee_citizenship }} </p>

<p>On behalf of {{ org_company }}. I am writing to invite {{ invitee_name }} 
   (passport No.: {{ invitee_passport_number ) to the {{ event_name }} in {{ event_city }}, 
   {{ event_country }}, which is organized by our company. {{ event_name }} is 
   held from {{ event_dates }} at {{ event_venue }}. </p>

{{ event_description }}

<p>{{ invitee_name }} is expected to arrive to the Czech Republic on 
{{ dt_arrival }} and will stay in the {{ event_country }} to {{ dt_departure }}. </p>

<p>I trust this information is sufficient for the necessary visa to be issued. 
   Should you have further questions, please do not hesitate to contact me 
   either by e-mail (<a href="mailto: {{ org_email }}"><{{ org_email }}</a> 
   or by phone at {{ org_phone }}. </p>

<div style="float: right; margin-top: 250px;">
    <p>Regards,</p>
    <p>{{ org_name }}</p>
    <p>{{ org_title }}</p>
    <p>{{ org_company }}
    <img src="{{ path_signature }}" />
</div>

</body>
